    <section class="section_advantages">
      <h2 class="visually-hidden-advantages">/</h2>
      <ul class="list_advantages">
        <li class="advantages_points">
          <div class="advantages_icon_background">
            <svg width="28" height="28" fill="orange">
              <use href="images/symbol-defs.svg#icon-whole-chocolate-bar"></use>
            </svg>
          </div>
          <h3 class="advantages_headers">Unsurpassed taste</h3>
          <p class="advantages_paragraphs">
            Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is a decadent
            experience that simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and
            discover a new level of chocolate bliss.
          </p>
          <div class="advantages_line"></div>
        </li>
        <li class="advantages_points">
          <div class="advantages_icon_background">
            <svg width="28" height="28" fill="orange">
              <use href="images/symbol-defs.svg#icon-coin"></use>
            </svg>
          </div>
          <h3 class="advantages_headers">Affordable price</h3>
          <p class="advantages_paragraphs">
            Indulge in high-quality chocolate without breaking the bank with Simply Chocolate's selection of affordable
            treats. Enjoy mouth-watering truffles and velvety chocolate bars without sacrificing taste or quality.
            Browse our selection and indulge in affordable luxury today.
          </p>
          <div class="advantages_line"></div>
        </li>
        <li class="advantages_points">
          <div class="advantages_icon_background">
            <svg width="28" height="28" fill="orange">
              <use href="images/symbol-defs.svg#icon-spoon"></use>
            </svg>
          </div>
          <h3 class="advantages_headers">Own production</h3>
          <p class="advantages_paragraphs">
            We take pride in our own production process, ensuring that every step is carefully crafted to perfection.
            From selecting the finest ingredients to handcrafting each piece, our attention to detail is evident in
            every bite.
          </p>
        </li>
      </ul>
    </section>