<!--modal hamburger-->
<div class="header-hamburger-menu" modal-hamburger>
  <div class="header-hamburger-menu-container">
    <div class="hamburger-close">
      <button type="button" class="hamburger-close-button" modal-hamburger-close>
        <svg class="hamburger-close-icon">
          <use href="/src/images/symbol-defs.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>
    <ul class="hamburger-menu-list">
      <li><a href="#header" class="hamburger-link">Home</a></li>
      <li><a href="#how-is-made" class="hamburger-link">How it's made?</a></li>
      <li><a href="#our-products" class="hamburger-link">Our products</a></li>
      <li><a href="#top-sellers-id" class="hamburger-link">Top sellers</a></li>
      <li><a href="#reviews-id" class="hamburger-link">Chocolate is loved</a></li>
    </ul>
    <ul class="hamburger-media">
      <li class="hamburger-media-list">
        <a href="https://www.instagram.com"
          ><svg class="hamburger-media-svg-insta">
            <use href="/src/images/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hamburger-media-list">
        <a href="https://twitter.com"
          ><svg class="hamburger-media-svg-twit">
            <use href="/src/images/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
