<hero class="hero">
  <h1 class="hero-heading">HERO</h1>
  <div class="hero-container">
    <ul class="hero-list">
      <li class="hero-acapit-box">
        <p class="hero-acapit">
          Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
        </p>
      </li>
      <li>
        <ul class="hero-butons">
          <li>
            <div class="hero-button-container-buy">
              <button type="button" class="hero-button-buy">Buy now</button>
            </div>
          </li>
          <li>
            <div class="hero-button-container-how">
              <button type="button" class="hero-button-how">How its made</button>
            </div>
          </li>
          <li class="hero-scroll-li">
            <p class="hero-scroll">scroll down</p>
            <button type="button" class="hero-button-scroll">
              <svg class="hero-icon-scroll">
                <use href="/src/images/symbol-defs.svg#icon-angle-small-left"></use>
              </svg>
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</hero>
