<hero class="hero">
  <h1 class="hero-heading">HERO</h1>
  <div class="hero-container">
    <ul class="hero-list">
      <li class="hero-acapit-box">
        <p class="hero-acapit">
          Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
        </p>
      </li>
      <li>
        <ul class="hero-butons">
          <li>
            <div class="hero-button-container-buy">
              <button data-modal="modal-buy-now" type="button" class="hero-button-buy">
                Buy now
              </button>
            </div>
          </li>
          <li>
            <div class="hero-button-container-how">
              <button type="links" class="hero-button-how">
                <a href="#how-is-made" class="hero-how">How it’s made</a>
              </button>
            </div>
          </li>
          <li class="hero-scroll-li">
            <a href="#footer" class="hero-scroll-link">
              <p class="hero-scroll">scroll down</p>
              <button type="button" class="hero-button-scroll">
                <svg class="hero-icon-scroll">
                  <use href="/src/images/symbol-defs.svg#icon-angle-small-left"></use>
                </svg>
              </button>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</hero>
