<section class="how-is-made-container">
    <h3 class="how-is-made-header">hOW IT&#10076;S <span class="him-span">made?</span></h3>
    <div class="how-is-made-flex-wrapper">
        <div class="how-is-made-pct-box"></div>
        <div class="how-is-made-list-wrapper">
            <h2>Try  our chocolates today and discover the perfect balance of flavor</h2>
            <ul class="him-list-points">
                <li><span><svg width="8" height="8">
                    
                </svg></span>Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
                <li>At the same time, prepare a water bath. Melt the butter on it.</li>
                <li>width: 409px;</li>
                <li>Heat the mixture over low heat, letting it barely boil.</li>
                <li>Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
            </ul>
        </div>
    </div>
</section>
