<section class="how-is-made-container">
    <h1 id="how-is-made" class="how-is-made-header">hOW IT’S <span class="him-span">made?</span></h1>
    <div class="how-is-made-flex-wrapper">
        <div class="how-is-made-pct-box"></div>
        <div class="how-is-made-list-wrapper">
            <h2>Try  our chocolates today and discover the perfect balance of flavor</h2>
            <ul class="him-list-points">
                <li class="him-li"><span>
                    <svg class="him-svg" width="8" height="8">
                        <use href="./images/symbol-defs.svg#icon-Ellipse-5"></use>
                    </svg>
                </span><p class="him-text">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</p></li>
                <li class="him-li"><span>
                    <svg class="him-svg" width="8" height="8">
                        <use href="./images/symbol-defs.svg#icon-Ellipse-5"></use>
                    </svg>
                </span><p class="him-text">At the same time, prepare a water bath. Melt the butter on it.</p></li>
                <li class="him-li"><span>
                    <svg class="him-svg" width="8" height="8">
                        <use href="./images/symbol-defs.svg#icon-Ellipse-5"></use>
                    </svg>
                </span><p class="him-text">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</p></li>
                <li class="him-li"><span>
                    <svg class="him-svg" width="8" height="8">
                        <use href="./images/symbol-defs.svg#icon-Ellipse-5"></use>
                    </svg>
                </span><p class="him-text">Heat the mixture over low heat, letting it barely boil.</p></li>
                <li class="him-li"><span>
                    <svg class="him-svg" width="8" height="8">
                        <use href="./images/symbol-defs.svg#icon-Ellipse-5"></use>
                    </svg>
                </span><p class="him-text">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</p></li>
            </ul>
        </div>
    </div>
</section>
