<section class="our-product-container">
    <h1 class="our-products-header" id="our-products">Our <span class="our-products-span">pRODUCTS</span></h1>
<ul class="our-products-list">
<li>
    <div class="our-products-point-wrapper">
        <img class="our-products-img" alt="orange flavour chocolate product" 
        src="./images/our-products/orange-chocolate.jpg"
        srcset="./images/our-products/orange-chocolate.jpg 1x, ./images/our-products/orange-chocolate@2x.jpg 2x">
        <h2 class="our-products-flavour">orange</h2>
        <p class="our-products-text">Dark chocolate</p>
        <button class="our-products-button" type="button">45 UAH</button>
    </div>
</li>
<li>
    <div class="our-products-point-wrapper">
        <img class="our-products-img" alt="apple and cranberry flavour chocolate product" 
        src="./images/our-products/apple-cranberry-chocolate.jpg"
        srcset="./images/our-products/apple-cranberry-chocolate.jpg 1x, ./images/our-products/apple-cranberry-chocolate@2x.jpg 2x">
        <h2 class="our-products-flavour">APPLE&CRANBERRY</h2>
        <p class="our-products-text">Milk chocolate</p>
        <button class="our-products-button" type="button">50 UAH</button>
    </div>
</li>
<li>
    <div class="our-products-point-wrapper">
        <img class="our-products-img" alt="lime and sea salt flavour chocolate product" 
        src="./images/our-products/lime-sea-salt-chocolate.jpg"
        srcset="./images/our-products/lime-sea-salt-chocolate.jpg 1x, ./images/our-products/lime-sea-salt-chocolate@2x.jpg 2x">
        <h2 class="our-products-flavour">lime&sea salt</h2>
        <p class="our-products-text">Dark chocolate</p>
        <button class="our-products-button" type="button">66 UAH</button>
    </div>
</li>
<div class="our-products-point-wrapper">
    <img class="our-products-img" alt="pineaple flavour chocolate product" 
    src="./images/our-products/pineapple-chocolate.jpg"
    srcset="./images/our-products/pineapple-chocolate.jpg 1x, ./images/our-products/pineapple-chocolate@2x.jpg 2x">
    <h2 class="our-products-flavour">pineapple</h2>
    <p class="our-products-text">Dark chocolate</p>
    <button class="our-products-button" type="button">54 UAH</button>
</div>
</ul>
<ul class="our-products-icon-list">
<li><svg class="our-product-1st-icon" width="28" height="13">
    <use href="./images/symbol-defs.svg#icon-Rectangle-5"></use>
</svg></li>
<li><svg class="our-product-icon" width="13" height="13">
    <use href="./images/symbol-defs.svg#icon-Ellipse-5"></use>
</svg></li>
<li><svg class="our-product-icon" width="13" height="13">
    <use href="./images/symbol-defs.svg#icon-Ellipse-5"></use>
</svg></li>
<li><svg class="our-product-icon" width="13" height="13">
    <use href="./images/symbol-defs.svg#icon-Ellipse-5"></use>
</svg></li>
<li><svg class="our-product-icon" width="13" height="13">
    <use href="./images/symbol-defs.svg#icon-Ellipse-5"></use>
</svg></li>
<li><svg class="our-product-icon" width="13" height="13">
    <use href="./images/symbol-defs.svg#icon-Ellipse-5"></use>
</svg></li>
<li><svg class="our-product-icon" width="13" height="13">
    <use href="./images/symbol-defs.svg#icon-Ellipse-5"></use>
</svg></li>
<li><svg class="our-product-icon" width="13" height="13">
    <use href="./images/symbol-defs.svg#icon-Ellipse-5"></use>
</svg></li>
</ul>
</section>
