<section>
  <div clas="container reviews-container">
    <h1 class="reviews-header" id="reviews-id">
      chocolate <span class="reviews-accent">is loved</span>
    </h1>
    <div class="reviews-item">
      <div class="reviews-box">
        <img
          class="reviews-image"
          src="./images/reviews/Ellipse.jpg"
          srcset="./images/reviews/Ellipse.jpg 1x, ./images/reviews/Ellipse2x.jpg 2x"
          width="80"
          height="80"
        />
        <div class="reviews-card">
          <h2 class="reviews-name">Victoria Dobrzhanska</h2>
          <p class="reviews-paragraph">
            I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin
            layer chocolate.
          </p>
        </div>
      </div>
      <div class="reviews-box-tablet">
        <img
          class="reviews-image-nazar"
          src="./images/reviews/Ellipse-man.jpg"
          srcset="./images/reviews/Ellipse-man.jpg 1x, ./images/reviews/Ellipse-man2x.jpg 2x"
          width="80"
          height="80"
        />
        <div class="reviews-card-nazar">
          <h2 class="reviews-name">Nazar Babenko</h2>
          <p class="reviews-paragraph">
            This chocolate confection is a delight! A delight! The wafer is light and crisp, the
            hazelnut cream is smooth, and the chocolate is good.
          </p>
        </div>
      </div>
      <div class="reviews-box-deskop">
        <img
          class="reviews-image-olena"
          src="./images/reviews/Ellipse-woman.jpg"
          srcset="./images/reviews/Ellipse-woman.jpg 1x, ./images/reviews/Ellipse-woman2x.jpg 2x"
          width="80"
          height="80"
        />
        <div class="reviews-card-olena">
          <h2 class="reviews-name">Olena Kampusch</h2>
          <p class="reviews-paragraph">
            Chocolate is a family favourite treat. Love the delicious smooth chocolate and the
            creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </div>
    </div>

    <ul class="reviews-banner">
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="13"
          viewBox="0 0 28 13"
          fill="none"
        >
          <path
            d="M21.5 0H6.5C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13H21.5C25.0899 13 28 10.0899 28 6.5C28 2.91015 25.0899 0 21.5 0Z"
            fill="#FD9222"
          />
        </svg>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="13"
          viewBox="0 0 13 13"
          fill="none"
        >
          <path
            d="M6.5 13C10.0899 13 13 10.0899 13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13Z"
            fill="#111111"
            fill-opacity="0.1"
          />
        </svg>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="13"
          viewBox="0 0 13 13"
          fill="none"
        >
          <path
            d="M6.5 13C10.0899 13 13 10.0899 13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13Z"
            fill="#111111"
            fill-opacity="0.1"
          />
        </svg>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="13"
          viewBox="0 0 13 13"
          fill="none"
        >
          <path
            d="M6.5 13C10.0899 13 13 10.0899 13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13Z"
            fill="#111111"
            fill-opacity="0.1"
          />
        </svg>
      </li>
    </ul>
    <button type="button" class="reviews-button" data-modal-open>Leave a review</button>
  </div>
</section>
