<div class="modal subscribe-modal" data-modal>
  <div class="subscribe-modal-picture">
    <button type="button" class="subscribe-btn-close" data-modal-close>
      <svg class="modal-icon" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-x-close"></use>
      </svg>
    </button>
  </div>
  <div class="subscribe-form">
    <h2 class="subscribe-form-title">
      Explore our <br /><span class="subscribe-orange-txt">new chocolate</span> first!
    </h2>

    <div class="email-window">
      <label>
        <input
          class="subscribe-email"
          type="email"
          name="subscribe-email"
          placeholder="Enter your email"
        />
      </label>
      <button class="subscribe-submit-btn modal-close" type="submit">Submit</button>
    </div>
  </div>
</div>
