<section>
  <div clas="container">
    <h1 class="top-sellers-header">top sellers</h1>
    <ul class="top-sellers-list">
      <li class="top-sellers-image-chestnut">
        <img
          src="images/Top-sellers/Chestnut-phone.jpg"
          srcset="images/Top-sellers/Chestnut-phone.jpg x1, images/Top-sellers/Chestnut-tablet.jpg 2x, images/Top-sellers/Chestnut-deskop.jpg x3"
          width="335"
          height="464p"
        />
        <p class="top-sellers-paragraph">
          Crazy enough chocolate originates from a bean just like the coffee bean called Cacao.
          Cacao has been around for thousands of years and was first discovered by the Native
          American tribe called the Mayans.
        </p>
      </li>
      <li></li>
    </ul>

    <button type="button">Buy now</button>
  </div>
</section>
