<section class="section_unique_components">
  <h2 class="unique_components_header">
    IT ALL ADDS UP TO ONE <br />
    EXCEPTIONAL <span class="taste_word">TASTE</span> SENSATION
  </h2>
  <p class="unique_components_paragraph">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of
    the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to
    one exceptional taste sensation.
  </p>
  <ul class="list_unique_components">
    <li class="unique_components_li">
      <div class="unique_components_part_choco unique_components_wrapper">
        <img
          class="unique_components_pictures_desktop"
          src="images/images-unique/piece_of_choco_desktop.png"
          srcset="images/images-unique/piece_of_choco_desktop@2.png 2x"
          alt="piece of chocolate"
        />
        <img
          class="unique_components_pictures_mobile"
          src="images/images-unique/piece_of_choco_mobile.png"
          srcset="images/images-unique/piece_of_choco_mobile@2.png 2x"
          alt="piece of chocolate"
        />
        <div class="text_up_style">
          <h3>MILK CHOCOLATE</h3>
          <ul class="unique_components_buttons">
            <li class="unique_button_orange button_orange_text">chocolate</li>
            <li class="unique_button_white button_white_text">the benefits</li>
            </ul>
          <p>
            Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most
            consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the United States and Europe.
          </p>
        </div>
        <h2 class="unique_components_header2_white">MILK CHOCOLATE</h2>
      </div>
    </li>
    <li class="unique_components_li">
      <div class="unique_components_part unique_components_wrapper">
        <img
          class="unique_components_pictures_desktop"
          src="images/images-unique/milk_desktop.png"
          srcset="images/images-unique/milk_desktop@2.png 2x"
          alt="bottle of milk"
        />
        <img
          class="unique_components_pictures_mobile"
          src="images/images-unique/milk_mobile.png"
          srcset="images/images-unique/milk_mobile@2.png 2x"
          alt="bottle of milk"
        />
        <div class="text_up_style">
          <h3>MILK</h3>
          <ul class="unique_components_buttons">
            <li class="unique_button_orange button_orange_text">milk</button>
            <li class="unique_button_white button_white_text">the benefits</button>
            </ul>
          <p>
            Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of
            nutrition for young mammals (including breastfed human infants) before they are able to digest solid
            food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune
            system.
          </p>
        </div>
        <h2 class="unique_components_header2">MILK</h2>
      </div>
    </li>
    <li class="unique_components_li">
      <div class="unique_components_part_nuts unique_components_wrapper">
        <img
          class="unique_components_pictures_desktop"
          src="images/images-unique/nuts_desktop.png"
          srcset="images/images-unique/nuts_desktop@2.png 2x"
          alt="nuts"
        />
        <img
          class="unique_components_pictures_mobile"
          src="images/images-unique/nuts_mobile.png"
          srcset="images/images-unique/nuts_mobile@2.png 2x"
          alt="nuts"
        />
        <div class="text_up_style">
          <h3>NUTS</h3>
          <ul class="unique_components_buttons">
            <li class="unique_button_orange button_orange_text">nuts</button>
            <li class="unique_button_white button_white_text">the benefits</button>
            </ul>
          <p>
            Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as
            part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their
            own.
          </p>
        </div>
        <h2 class="unique_components_header2_white">NUTS</h2>
      </div>
    </li>
    <li class="unique_components_li">
      <div class="unique_components_part unique_components_wrapper">
        <img
          class="unique_components_pictures_desktop"
          src="images/images-unique/dark_chocolate_desktop.png"
          srcset="images/images-unique/dark-chocolate-desktop@2.png 2x"
          alt="chocolate lozenges"
        />
        <img
          class="unique_components_pictures_mobile"
          src="images/images-unique/dark_chocolate_mobile.png"
          srcset="images/images-unique/dark_chocolate@2_mobile.png 2x"
          alt="chocolate lozenges"
        />
        <div class="text_up_style">
          <h3>SEMI - SWEET CHOCOLATE</h3>
          <ul class="unique_components_buttons">
            <li class="unique_button_orange button_orange_text">nuts</button>
            <li class="unique_button_white button_white_text">the benefits</button>
            </ul>
          <p>
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an
            understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is
            darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate
            is sweeter.
          </p>
        </div>
        <h2 class="unique_components_header2">SEMI - SWEET CHOCOLATE</h2>
      </div>
    </li>
  </ul>
</section>