.how-is-made-container {
    min-width: 375px;
    width: 1136px;
    height: 478px; 
    background: #FAFAFA;
    margin: 0 32px 128px 32px;
    }
    
@media screen and (min-width: 375px) {
    .how-is-made-container{
        max-width: 375px;
    }}

    .how-is-made-header {
    color: black;
    font-family: Montserrat; 
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.72px;
    text-transform: uppercase; 
    margin: 0 auto 50px auto;
    }
    
    .him-span {
    color: var(--orange);
    }
    
    .how-is-made-flex-wrapper {
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    }   

    .how-is-made-pct-box {
    width: 600px;
    height: 400px;  
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%),  lightgray -10.819px -343.839px / 103.473% 236.295% no-repeat;
    background-image: url(../images/how-is-made/how-chocolate-is-made-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    .how-is-made-list-wrapper {
    padding: 32px;
    width: 516px;
    height: 400px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    flex-shrink: 0; 
    border-radius: 15px;
    background: #FFF; 
    gap: 28px;
    }
    
    .how-is-made-list-wrapper > h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin: 0;
    }
    
    .him-list-points {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29; 
    letter-spacing: -0.28px; 
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    margin: 0;
    }